<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-12 text-center">
    <div class="col-md-12 text-center">
        <span class="section-title">Explorer Production Enviroment</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
    </div>
    <div class ="col-md-12">
        <iframe id="frame_exp" src="https://exp.takamaka.dev/"></iframe>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>
        </div>
        <div class="col-md-8 text-left">
            <button class="btn btn-secondary" onclick="goToPage($(this))" data-page="logged_home_page">Back</button>
        </div>

        
        <div class="col-md-12">
            <br/>
        </div>
    </div>

</div>