<img id="ONDE" src="static/images/ONDE_.png">
<img id="ONDE2" src="static/images/ONDE_.png">
<img id="ONDE3" src="static/images/ONDE_.png">

<div class="row mt20">
    <div class="col-md-12 text-center">
        <span class="section-title">Features Page</span>
    </div>
    <div class="col-md-12">
        <br/>
        <br/>
        <br/>
    </div>
</div>

<div class= "row main-logged-menu">

    <div class="col-md-12">
        <br><br> <br><br>            
    </div>
    <div class="col-md-4 text-center main-btn-container first">
        <button type="button" class="btn btn-tkm first" onclick="goToPage($(this))" data-page="logged_pay_section"><i class="fal fa-paper-plane"></i> <span>Send tokens</span></button>
        <button type="button" class="btn btn-tkm" onclick="goToPage($(this))" data-page="logged_receive_section"><i class="fal fa-hand-holding-usd"></i> <span>Receive</span> </button>
        <button type="button" class="btn btn-tkm" onclick="goToPage($(this))" data-page="logged_balance_section"><i class="fal fa-coins"></i> <span>Balance</span> </button>
    </div>

    <div class="col"></div>

    <div class="col-md-3 text-center main-btn-container mb-5">
        <button type="button" class="btn btn-tkm middle first" onclick="goToPage($(this))" data-page="logged_stake_section"><i class="fal fa-handshake"></i> <span>Stake</span></button>
        <button type="button" class="btn btn-tkm middle" onclick="goToPage($(this))" data-page="logged_explorer_page"><i class="fad fa-telescope"></i> <span>Explorer Prod</span> </button>
        <button type="button" class="btn btn-tkm middle" onclick="goToPage($(this))" data-page="logged_explorer_page_test"><i class="fab fa-wpexplorer"></i> <span>Explorer Test</span> </button>
        <button type="button" class="btn btn-tkm middle" onclick="goToPage($(this))" data-page="logged_campaign_page"><i class="fas fa-bullhorn"></i> <span>Open Campaign</span> </button>
    </div>

    <div class="col"></div>

    <div class="col-md-4 text-center main-btn-container third">
        <button type="button" class="btn btn-tkm first" onclick="goToPage($(this))" data-page="logged_blob_text"><i class="fal fa-file-alt"></i> <span>Rich Text</span></button>
        <button type="button" class="btn btn-tkm" onclick="goToPage($(this))" data-page="logged_blob_file"><i class="fal fa-file"></i> <span>Generic file</span> </button>
        <button type="button" class="btn btn-tkm" onclick="goToPage($(this))" data-page="logged_blob_hash"><i class="fal fa-barcode-alt"></i> <span>Hash file</span> </button>
    </div>

</div>
<div class="col-md-12">
    <br>              
</div>