<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row mt100">
    <div class="col-md-12">
        <div class="alert alert-success text-center font-weight-bold alert_trx" role="alert">
            <i class="fal fa-check-circle"></i> Your transaction has been successfully submitted!
        </div>
    </div>
</div>

<div class="row mt100">
    <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-tkm" onclick="goToPage($(this))" data-page="logged_home_page">Go to Home</button>
    </div>
</div>