<div class= "row mt20">
    
    <div class="col-md-12 text-center">
        <h4>Test Purposes</h4>
    </div>
    <div class="col">
        <h3>Ciao Isacco</h3>
        <ol>
            <li>
                WEB
            </li>
            <li> BEW </li>
            
            <li> EBW </li>
            
        </ol>
        
        
    </div>
     <div class="col">
        
<h3>Ciao Giovanni</h3>
              
        <ul>
            <li>CTO</li>
            <li>OTC</li>
            <li>TOC</li>
        </ul>
            
      
    </div>
     <div class="col">
        
        <h3>Ciao IRIS</h3> 
        
        <img src="static/images/loading.gif" alt=""/>
    </div>
     <div class="col">
        
        <h3>Ciao Elton</h3>
        
        <div>
            <img src = "static/images/EltonKasmi.jpg" alt="mr. Elton" width="300" height="300"/>
        </div>
        
    </div>
</div>
